.my-fixed-item {
  display: flex;
  position: fixed;
  min-height: 10px;
  text-align: center;
  word-wrap: break-word;
  color: aliceblue;
  top: 0;
  width: 100%;
  align-items: start  ;
  justify-content: start !important;
  font-size: 35px;

}
.min-tol {
  font-size: 15px !important;
}
.header{
  background-color: #064369;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  border: 10px;
}
.header .nav-links{
  list-style: none;
}
.header .nav-links{
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}


.header .nav-links li:hover{
  transform: scale(1.1);
}

